<div
  class="pl-sum-notation-input"
  aria-label="{{#integral}}Integral notation input{{/integral}}{{^integral}}Sigma notation input{{/integral}}"
>
  {{#integral}}
    <div
      class="pl-sum-notation-input__sigma-stack pl-sum-notation-input__integral pl-sum-notation-input__sigma-stack--integral"
    >
      <div class="pl-sum-notation-input__sigma" aria-hidden="true">
        \(\displaystyle{{{ latex_symbol }}}\)
      </div>
      <div class="pl-sum-notation-input__limits">
        {{#lower_field}}
          <div class="pl-sum-notation-input__lower">
            <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
            {{> bounds-math-field }}
          </div>
        {{/lower_field}}
        {{#upper_field}}
          <div class="pl-sum-notation-input__upper">
            <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
            {{> bounds-math-field }}
          </div>
        {{/upper_field}}
      </div>
    </div>
  {{/integral}}
  {{^integral}}
    <div class="pl-sum-notation-input__sigma-stack pl-sum-notation-input__sum">
      {{#lower_field}}
        <div class="pl-sum-notation-input__lower">
          {{> bounds-math-field }}
        </div>
      {{/lower_field}}
      <div class="pl-sum-notation-input__sigma" aria-hidden="true">
        \(\displaystyle{{{ latex_symbol }}}\)
      </div>
      {{#upper_field}}
        <div class="pl-sum-notation-input__upper">
          {{> bounds-math-field }}
        </div>
      {{/upper_field}}
    </div>
  {{/integral}}
  {{#summand_field}}
    <div class="pl-sum-notation-input__summand">
      <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
      {{> summand-math-field }}
    </div>
  {{/summand_field}}
  {{#integral}}
    <span class="pl-sum-notation-input__differential">\(\mathrm d {{{ index_label }}}\)</span>
  {{/integral}}
</div>
