<div
  class="pl-sum-notation-input"
  aria-label="{{#integral}}Integral notation input{{/integral}}{{^integral}}Sigma notation input{{/integral}}"
>
  {{#integral}}
    <div
      class="pl-sum-notation-input__sigma-stack pl-sum-notation-input__integral pl-sum-notation-input__sigma-stack--integral"
    >
      <div class="pl-sum-notation-input__sigma" aria-hidden="true">
        \(\displaystyle{{{ latex_symbol }}}\)
      </div>
      <div class="pl-sum-notation-input__limits">
        {{#lower_field}}
          <div class="pl-sum-notation-input__lower">
            <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
            <pl-symbolic-input
              display="inline"
              size="{{ size }}"
              answers-name="{{ answers_name }}"
              variables="{{ variables }}"
              correct-answer="{{ correct_answer }}"
              {{^variables}}show-help-text="false"{{/variables}}
              placeholder=""
              allow-blank="false"
              formula-editor="false"
            ></pl-symbolic-input>
          </div>
        {{/lower_field}}
        {{#upper_field}}
          <div class="pl-sum-notation-input__upper">
            <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
            <pl-symbolic-input
              display="inline"
              size="{{ size }}"
              answers-name="{{ answers_name }}"
              variables="{{ variables }}"
              correct-answer="{{ correct_answer }}"
              {{^variables}}show-help-text="false"{{/variables}}
              placeholder=""
              allow-blank="false"
              formula-editor="false"
            ></pl-symbolic-input>
          </div>
        {{/upper_field}}
      </div>
    </div>
  {{/integral}}
  {{^integral}}
    <div class="pl-sum-notation-input__sigma-stack pl-sum-notation-input__sum">
      {{#lower_field}}
        <div class="pl-sum-notation-input__lower">
          <pl-symbolic-input
            display="inline"
            size="{{ size }}"
            answers-name="{{ answers_name }}"
            label="\({{{ index_label }}} = \)"
            variables="{{ variables }}"
            {{#piecewise}}weight="1"{{/piecewise}}
            {{^variables}}show-help-text="false"{{/variables}}
            placeholder=""
            allow-blank="false"
            formula-editor="false"
          ></pl-symbolic-input>
        </div>
      {{/lower_field}}
      <div class="pl-sum-notation-input__sigma" aria-hidden="true">
        \(\displaystyle{{{ latex_symbol }}}\)
      </div>
      {{#upper_field}}
        <div class="pl-sum-notation-input__upper">
          <pl-symbolic-input
            display="inline"
            size="{{ size }}"
            answers-name="{{ answers_name }}"
            variables="{{ variables }}"
            correct-answer="{{ correct_answer }}"
            show-help-text="false"
            placeholder=""
            allow-blank="false"
            formula-editor="false"
          ></pl-symbolic-input>
        </div>
      {{/upper_field}}
    </div>
  {{/integral}}
  {{#summand_field}}
    <div class="pl-sum-notation-input__summand">
      <span class="pl-sum-notation-input__label sr-only">{{ label }}</span>
      <pl-symbolic-input
        display="inline"
        formula-editor="true"
        size="{{ size }}"
        answers-name="{{ answers_name }}"
        variables="{{ variables }}"
        correct-answer="{{ correct_answer }}"
        allow-blank="false"
        allow-trig-functions="true"
        placeholder=""
      ></pl-symbolic-input>
    </div>
  {{/summand_field}}
  {{#integral}}
    <span class="pl-sum-notation-input__differential">\(\mathrm d {{{ index_label }}}\)</span>
  {{/integral}}
</div>
