{{! htmlmustache-disable pl-prefer-pl-inputs }}
<span class="input-group pl-sum-notation-input__math-field w-100">
  <script>
    $(function () {
    window.PLSumNotationInput("{{ answers_name }}");
    });
  </script>
  <input
    name="{{ answers_name }}"
    id="sum-notation-input-sub-{{ answers_name }}"
    type="hidden"
    value=""
  />
  <input
    name="{{ answers_name }}-latex"
    id="sum-notation-input-latex-{{ answers_name }}"
    type="hidden"
    value="{{ raw_submitted_answer_latex }}"
  />
  <math-field
    id="sum-notation-input-{{ answers_name }}"
    class="form-control pl-sum-notation-input__math-field-input{{#parse_error}} has-validation is-invalid no-validation-icon{{/parse_error}}"
    style="min-width: {{ size }}ch"
    {{#parse_error}}aria-invalid="true"{{/parse_error}}
    {{^editable}}contenteditable="false"{{/editable}}
    data-placeholder-text=""
    custom-functions="{{ custom_functions }}"
    allow-trig="allow-trig"
    {{#label}}aria-label="{{ label }}"{{/label}}
  >
    {{ raw_submitted_answer_latex }}
  </math-field>
</span>
